<div class="nav" role="navigation">
    <ul>
        <li><a ui-sref="index" class="home">Home</a></li>
        <li><a ui-sref="item.create" class="create">New Item</a></li>
    </ul>
</div>
<div id="list-item" class="content scaffold-list" role="main">
    <h1>Item List</h1>
    <table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Movement</th>
      <th>Radial Coordinate</th>
      <th>Angular Coordinate</th>
      <th>Quadrant</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-class="{'even': $index%2 == 0, 'odd': $index%2 == 1}" ng-repeat="item in vm.itemList">
      <td>
        <a ui-sref="item.show({id: item.id})">{{item.id}}</a>
      </td>
      <td>
        <span>{{item.name}}</span>
      </td>
      <td>
        <span>{{item.movement}}</span>
      </td>
      <td>
        <span>{{item.radialCoordinate}}</span>
      </td>
      <td>
        <span>{{item.angularCoordinate}}</span>
      </td>
      <td>
        <a ui-sref="quadrant.show({id: item.quadrant.id})">{{item.quadrant.toString()}}</a>
      </td>
    </tr>
  </tbody>
</table>
    <!--    <div class="pagination">
            <g:paginate total="${partCount ?: 0}" />
        </div>-->
</div>