<div id="content" role="main">
    <section class="row colset-2-its">
        <h1>Grails Implementation of a Thoughtworks Style Technology Radar</h1>

        <p>
            This was created as an exercise to become more familiar with the Grails
            <a href="http://docs.grails.org/latest/guide/introduction.html#webApiAndAngularProfiles">REST API and AngularJS Profiles</a>
            as well as its <a href="http://views.grails.org/latest/#_json_views">JSON Views</a>.
        </p>


    </section>
</div>
