<fieldset class="form">
  <div class="fieldcontain required">
    <label for="name">Name
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="name" id="name" ng-model="vm.radar.name" type="text" />
  </div>
  <div class="fieldcontain">
    <label for="quadrants">Quadrants</label>
    <select name="quadrants" id="quadrants" ng-model="vm.radar.quadrants" ng-options="quadrant for quadrant in vm.quadrantList track by quadrant.id" multiple=""></select>
  </div>
</fieldset>