<div class="nav" role="navigation">
    <ul>
        <li><a ui-sref="index" class="home">Home</a></li>
        <li><a ui-sref="quadrant.list" class="list">Quadrant List</a></li>
    </ul>
</div>
<div id="create-quadrant" class="content scaffold-create" role="main">
    <h1>Create Quadrant</h1>
    <ul class="errors" role="alert" ng-if="vm.errors">
        <li ng-repeat="error in vm.errors">{{error.message}}</li>
    </ul>

    <form name="saveQuadrant" ng-submit="vm.saveQuadrant()">
        <fieldset class="form">
            <ng-include src="'/techradar/quadrant/form.html'"></ng-include>
        </fieldset>
        <fieldset class="buttons">
            <input type="submit" name="create" class="save" value="Create" />
        </fieldset>
    </form>
</div>