<fieldset class="form">
  <div class="fieldcontain required">
    <label for="name">Name
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="name" id="name" ng-model="vm.quadrant.name" type="text" />
  </div>
  <div class="fieldcontain required">
    <label for="color">Color
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="color" id="color" ng-model="vm.quadrant.color" type="text" />
  </div>
  <div class="fieldcontain">
    <label for="items">Items</label>
    <select name="items" id="items" ng-model="vm.quadrant.items" ng-options="item for item in vm.itemList track by item.id" multiple=""></select>
  </div>
</fieldset>