<div class="nav" role="navigation">
    <ul>
        <li><a ui-sref="index" class="home">Home</a></li>
        <li><a class="list" ui-sref="quadrant.list" class="list">Quadrant List</a></li>
        <li><a class="create" ui-sref="quadrant.create" class="create">New Quadrant</a></li>
    </ul>
</div>
<div id="show-part" class="content scaffold-show" role="main">
    <h1>Show Quadrant</h1>
    <ol class="property-list quadrant">
  <li class="fieldcontain">
    <span id="name-label" class="property-label">Name</span>
    <div class="property-value" aria-labelledby="name-label">
      <span>{{vm.quadrant.name}}</span>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="color-label" class="property-label">Color</span>
    <div class="property-value" aria-labelledby="color-label">
      <span>{{vm.quadrant.color}}</span>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="items-label" class="property-label">Items</span>
    <div class="property-value" aria-labelledby="items-label">
      <ul>
        <li ng-repeat="item in vm.quadrant.items">
          <a ui-sref="item.show({id: item.id})">{{item.toString()}}</a>
        </li>
      </ul>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="radar-label" class="property-label">Radar</span>
    <div class="property-value" aria-labelledby="radar-label">
      <a ui-sref="radar.show({id: vm.quadrant.radar.id})">{{vm.quadrant.radar.toString()}}</a>
    </div>
  </li>
</ol>
    <form ng-submit="vm.delete()">
        <fieldset class="buttons">
            <a class="edit" ui-sref="quadrant.edit({id: vm.quadrant.id})">Edit</a>
            <input class="delete" type="submit" value="Delete" onclick="return confirm('Are you sure?');" />
        </fieldset>
    </form>
</div>